
canvas {
  border: 1px dotted grey;
}

#menuHolder {
  width: 0px;
  height: 0px;
  user-select: none; 
  background-color: rgb(187, 185, 185);
  display: inline-block;
  position: absolute;
  margin-left: 10px;
}
#menuHolder div{  
  text-align: center;

  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(180, 171, 171);
  border-style:solid;
  border-width: 1px;
  border-color: rgb(105, 102, 102);

}
#test{
background-color: rgb(105, 102, 102);
}

